.loading_img {
    animation: flip_animation 2s infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes flip_animation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.ps-section__left {
    .ant-carousel {
        height: 100%;
        .ps-banner-item--default {
            display: flex !important;
            justify-content: flex-start;
            align-items: center;
            .hdb-slide-content {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                background-color: rgba(255, 253, 253, 0.274);
                color: white;
                margin-left: 30px;
                border-radius: 5px;

                .hd-slide__title {
                    // animation: bounce;
                    color: white;
                    font-size: 30px;
                    line-height: 34px;
                    font-weight: 700;
                }
            }
        }
    }
}
