@import '~antd/dist/antd.css';
@import 'vendor/bourbon/bourbon';
@import 'utils/mixin';

@import 'vendor/media_query';

@import 'utils/variable';

/*1. RESET AND TYPHOGRAPHY */

//1.1 reset
@import 'base/antdesign_reset';
@import 'base/reset';
//1.2 typhography
@import 'base/typhography';

/*2. ELEMENTS */
//2.1 grid
@import 'elements/grid';
// 2.2 list
@import 'elements/list';
// 2.3 button
@import 'elements/button';
// 2.4 form
@import 'elements/form';
//2.5 post
@import 'elements/post';
// 2.6 pagination
@import 'elements/pagination';
// 2.7 breadcrumb
@import 'elements/breadcrumb';
// 2.8 block
@import 'elements/block';

@import 'elements/panel';
// 2.9 widget
@import 'elements/widget';
// 2.10 slider
@import 'elements/slider';
// 2.11 masonry
// 2.12 product
@import 'elements/product';
// 2.13 banner
@import 'elements/banner';
// 2.14 filter
@import 'elements/filter';
// 2.15 table
@import 'elements/table';
// 2.16 loader
@import 'elements/loader';
// 2.17 modal
@import 'elements/modal';
// 2.17 accordion

@import 'elements/accordion';
@import 'elements/skeleton';



// 2.18 modal
@import 'elements/tabs';

/*3. COMPONENTS */
// 3.1 Cart
@import 'components/cart';
// 3.2 forms
@import 'components/forms';
// 3.3 search
@import 'components/search';
// 3.4 section
@import 'components/section';
// 3.5 pages
@import 'components/pages';

@import 'components/menu';

@import 'components/payment';

/*4. MODULES */
// 4.1 header
@import 'modules/navigations';
@import 'modules/header';
// 4.2 footer
@import 'modules/footer';

@import 'themes/effect';

/*5. HELPERS */
@import 'elements/helpers';
// CUSTOME by Bilal
@import 'elements/ourServices';

@import "react/custom";


 .whatsapp_float {
          position: fixed;
          width: 50px;
          height: 50px;
          bottom: 20px;
          left: 25px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 50px;
          text-align: center;
          font-size: 30px;
          box-shadow: 2px 2px 3px #999;
          z-index: 1000;
      }

      .whatsapp-icon {
          margin-top: 10px;
      }

      /* for mobile */
      @media screen and (max-width: 767px) {
          .whatsapp-icon {
              margin-top: 9px;
          }

          .whatsapp_float {
              width: 40px;
              height: 40px;
              bottom: 80px;
              right: 10px;
              font-size: 22px;
          }
      }
