
    .our-services-heading, .near-you {
        color: #000;
        padding-bottom: 10px;
        font-size: 34px;
        background: url('/static/img/btm-g.png') center bottom no-repeat;
        text-transform: uppercase;
        font-family: Poppins-Regular;
        font-weight: lighter;
        text-align: center;
        span {
            color: #146525;
            font-size: 34px;
        }
        margin-bottom: 10px;
        margin-top: 10px;
    }
.ourServices {
    // base

    .container-our {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 2.2em;
        font-family: $font-3rd;
        margin-bottom: 10px;
        text-align: center;
    }
    .flip {
        p {
            font-size: 16px;
        }
    }
    .flip {
        position: relative;
        > .front,
        > .back {
            display: block;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-duration: 0.5s;
            transition-property: transform, opacity;
        }
        > .front {
            transform: rotateY(0deg);
        }
        > .back {
            position: absolute;
            opacity: 0;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            transform: rotateY(-180deg);
        }
        &:hover {
            > .front {
                transform: rotateY(180deg);
                h1 {
                    opacity: 0;
                }
            }
            > .back {
                padding: 1em 2em;
                opacity: 1;
                transform: rotateY(0deg);
            }
        }
        &.flip-vertical {
            > .back {
                transform: rotateX(-180deg);
            }
            &:hover {
                > .front {
                    transform: rotateX(180deg);
                }
                > .back {
                    transform: rotateX(0deg);
                }
            }
        }
    }

    // custom
    .flip {
        position: relative;
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 1em;
        width: 100%;
        max-width: 400px;
        > .front,
        > .back {
            display: block;
            color: white;
            width: inherit;
            background-size: cover !important;
            background-position: center !important;
            height: 220px;
            //
            background: rgba(0, 86, 36, 0.8);
            //  lighten($color-1st, 30%);
            border-radius: 10px;
            p {
                font-size: 16px;
                line-height: 160%;
                color: rgb(255, 253, 253);
            }
            h2 {
                color: white;
                margin: 0;
                text-align: center;
                padding-bottom: 5px;
                background: url('/static/img/btm-w.png') center bottom no-repeat;
            }
        }
    }

    .service-name {
        height: 74px;
        background: rgba(0, 86, 36, 0.8);
        line-height: 74px;
        bottom: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .service-hover,
    .service-name {
        width: 100%;
        position: absolute;
    }
    .service-btn a,
    .service-d,
    .service-n,
    .service-name {
        color: #fff;
        font-family: Poppins-Light;
    }
    .service-n,
    .service-name {
        font-size: 24px;
        text-transform: uppercase;
    }

    .text-shadow {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
            3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
            0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
            7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04),
            9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
            11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
            13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
            0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
            17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
            19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
    }
}
